<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link href="/static/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/font-awesome-extension.css" />
  <meta name="theme-color" content="#b497ee" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#b497ee" />
  <title>j0.lol</title>
</head>
<body>
<script src="/static/oneko.js/oneko.js"></script>
<nav>
  <ul>
    <li><a href="/" id="logo">j0.lol</a></li>
    <li><a href="/">Blog 🚧</a></li>
  </ul>
</nav>
<article class="main">
  {% block content %}Placeholder text{% endblock %}
</article>
<footer>
  <div class="_88x31s">
    <a rel="noreferrer" href="https://maia.crimew.gay" target="_blank"><img src="/static/badges/maia.crimew.gay.png" alt="maia crimew" title="my site :3"></a>
    <img src="/static/badges/nonbinary.png" alt="non-binary pride" title="im non binary fr fr">
    <a href="https://nano.lgbt"><img src="/static/badges/nano.png" alt="nano" title="nano"></a>
  </div>
  <div class="socials">
    <span class="mobile-hide">no js!</span>
    <a href="https://wetdry.world/@j0"> <i class="fa fa-mastodon" aria-label="Mastodon link"></i></a>
    <a href="https://bsky.app/profile/j0.lol"> <i class="fa fae-butterfly" aria-label="Bluesky link"></i></a>
    <details class="social-details">
      <summary><i class="fa fa-discord-alt" aria-label="Discord handle:"></i></summary>
      <span>@nixpkgs</span>
    </details>
    <details class="social-details">
      <summary><i class="fa fa-xmpp" aria-label="XMPP handle:"></i></summary>
      <span>j0@wetdry.world</span>
    </details>
    <a href="https://matrix.to/@j0:barr0w.net#/@j0:barr0w.net"> <i class="fa fa-matrix-org" aria-label="Matrix.to link"></i></a>
    <details class="social-details">
      <summary><i class="fa fa-git" aria-label="Git forges:"></i></summary>
      <span>
        I use different git forges for different purposes!<br/><br/>
        Collaboration:
        <ul>
          <li><a href="https://github.com/j0lol">GitHub</a></li>
        </ul>
        Personal:
        <ul>
          <li><a href="https://codeberg.org/j0">Codeberg</a></li>
          <li><a href="https://git.gay/j0">Git.gay</a></li>
        </ul>
      </span>
    </details>
  </div>
  
</footer>
</body>
</html>

