{% extends "base.html" %}
{% set active_page = "contact" %}
{% block content %}
<h1 id="title">Contact me</h1>

<h2>Microblogs</h2>
<ul>
<li><a href="https://wetdry.world/@j0">Mastodon</a>: @j0@wetdry.world</li>
<li><a href="https://bsky.app/profile/j0.lol">Bluesky</a>: @j0.lol</li>
</ul>


<h2>Socials</h2>
<ul>
<li>Discord: @nixpkgs</li>
<li>Signal: @j0lol.01</li>
<li>
    <details>
        <summary>Niche chat apps</summary>
        <ul>
            <li> XMPP: j0@wetdry.world</li>
            <li> Matrix main account: @j0:barr0w.net</li>
            <li> Matrix previous/backup accounts:
                <ul>
                    <li>@j0lol:beeper.com</li>
                    <li>@j0lol:the-apothecary.club</li>
                    <li>@j0lol:matrix.org</li>
                </ul>
            </li>
        </ul>
    </details>
</li>
</ul>


{% endblock %}
