{% extends "base.html" %}
{% block content %}
<p> hi! this is my new website! i'm just trying to figure out how to make a blog and stuff! </p>

<h2>Abridged Portfolio</h2>
<p>You may know me for:</p>
<ul>
  <li>
    Maintaining your nix packages: <code>shipwright</code> and <code>notesnook</code>
  </li>
  <li>
    Maintaining a free repository of trans voice training resources: <a href="https://transvoice.party">transvoice.party</a>
  </li>
  <li>
    A silly minecraft mod: <a href="https://modrinth.com/mod/quicksnad">Quicksnad</a>
  </li>
  <li>
    Linux launcher for Toontown: Corporate Clash: <a href="https://codeberg.org/j0/launccher">launCCher</a>
  </li>
  <li>
    <a href="/static/sillytetrisgame/index.html">Silly tetris game</a> written for TIC-80, with an attempt to be accurate to tetr.io physics
  </li>
</ul>

<!--
<h2>Socials</h2>
<ul>
<li> <a href="https://wetdry.world/@j0">Mastodon</a>: @j0@wetdry.world</li>
<li> <a href="https://bsky.app/profile/j0.lol">Bluesky</a>: @j0.lol (This is probably down at the moment)</li> 
<li> XMPP: j0@wetdry.world</li>
<li> Matrix main account: @j0:barr0w.net</li>
<li> Matrix previous/backup accounts:
<ul>
  <li>@j0lol:beeper.com</li>
  <li>@j0lol:the-apothecary.club</li>
  <li>@j0lol:matrix.org</li>
</ul>
</li>
<li> Discord: @nixpkgs</li>
</ul>

<h2>Programming and projects</h2>
<ul>
<li> GitHub (collab): @j0lol</li>
<li> Codeberg (personal): @j0</li>
<li> Git.gay: @j0</li>
</ul>

<hr>


meow

<small><h2>small faq</h2></small>
<p><small>What are your plans?<br> - I would like to make some combination blog/cv/portfolio site soon.</small></p>
-->
{% endblock %}