{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<h1 class="sr-only">About me</h1>
<p> hi! this is my new website! i hope you like it! </p>

<h2>Abridged Portfolio</h2>
<p>You may know me for:</p>
<ul>
  <li>
    Maintaining your nix packages: <code>shipwright</code> and <code>notesnook</code>
  </li>
  <li>
    Maintaining a free repository of trans voice training resources: <a href="https://transvoice.party">transvoice.party</a>
  </li>
  <li>
    A silly minecraft mod: <a href="https://modrinth.com/mod/quicksnad">Quicksnad</a>
  </li>
  <li>
    A Discord to Minecraft bridge for 1.4.7: <a href="https://j0.lol/post/zerobridge-launch">ZeroBridge</a>
  </li>
  <li>
    Linux launcher for Toontown: Corporate Clash: <a href="https://codeberg.org/j0/launccher">launCCher</a>
  </li>
  <li>
    <a href="/static/sillytetrisgame/index.html">Silly tetris game</a> written for TIC-80, with an attempt to be accurate to tetr.io physics
  </li>
</ul>

<h2>Git forges</h2>
<p>
I use different git forges for different purposes!
<ul>
    <li>Collaboration:
        <ul>
          <li><a href="https://github.com/j0lol">GitHub</a></li>
        </ul>
    </li>
    <li>Personal:
        <ul>
            <li><a href="https://codeberg.org/j0">Codeberg</a></li>
            <li><a href="https://git.gay/j0">Git.gay</a></li>
        </ul>
    </li>

</ul>
{% endblock %}
